.mainDiv {
  min-height: 100vh;
}

.formDiv {
  background-color: rgb(27, 29, 29);
  border: solid none;
  border-radius: 1rem;
  padding: 1rem;
}

.invalid-div {
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  opacity: 0.4;
}