<div class="w-full bg-dark mainDiv py-5">

  <div class="w-50 mx-auto text-light formDiv" style="box-shadow: 0.2px 0.2px 10px 0.3px goldenrod;">

    <form class="w-75 mx-auto" #signUpForm="ngForm" (submit)="onSignUp(signUpForm)">
      <div class="mb-3">
        <label for="name" class="form-label">Name *</label>
        <input type="text" class="form-control bg-dark text-light " id="name" name="name" aria-describedby="name" required ngModel #name="ngModel">
        <div class="invalid-div pass-div" *ngIf="!name.valid && name.touched">
          <p class="invalid-text">
            Please Enter Your Name !
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label mx-auto">Email address *</label>
        <input type="email" class="form-control bg-dark text-light " id="email" aria-describedby="email" name="email" ngModel required email #email="ngModel">
        <div class="invalid-div pass-div" *ngIf="!email.valid && email.touched">
          <p class="invalid-text">
            Invalid Email !
          </p>
        </div>
        <div id="email" class="form-text" *ngIf="email.valid">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label mx-auto">Phone Number *</label>
        <input type="number" class="form-control bg-dark text-light " name="phone" id="phone" aria-describedby="phone" required ngModel #phone="ngModel">
        <div class="invalid-div pass-div" *ngIf="!phone.valid && phone.touched">
          <p class="invalid-text">
            Please Enter Your Phone Number !
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label mx-auto">Password * </label>
        <input type="password" class="form-control bg-dark text-light " name="password" id="password" required ngModel #password="ngModel">
        <div class="invalid-div pass-div" *ngIf="!password.valid && password.touched">
          <p class="invalid-text">
            Please Enter Your Password !
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label mx-auto">Confirm Password *</label>
        <input type="password" class="form-control bg-dark text-light " name="confirmPassword" id="confirmPassword"
       ngModel required #confirmPassword="ngModel">
        <div class="invalid-div pass-div" *ngIf="!confirmPassword.valid && confirmPassword.touched">
          <p class="invalid-text">
            Please Confirm Your Password !
          </p>
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="check" id="check" ngModel #policies="ngModel">
        <label class="form-check-label text-warning" for="check">I accept All the Policies</label>
        <div class="invalid-div pass-div" *ngIf="!policies.value && confirmPassword.touched">
          <p class="invalid-text">
            Please Accept All the Policies !
          </p>
        </div>
      </div>
      <div class="invalid-div pass-div" *ngIf="password.value!=confirmPassword.value">
        <p class="invalid-text">
          Password and Confirm Password must be same !
        </p>
      </div>
      <button type="submit" class="btn btn-warning">SignUp</button>
    </form>

  </div>

</div>
